<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group"  >
        <div *ngIf="onlyOdd">
          <li *ngFor="let o of oddNumbers"
            class="list-group-item"            
            [ngClass]="{odd:o%2!=0}"
            [ngStyle]="{backgroundColor:o%2!=0?'yellow':'transparent'}"
            >{{o}}
          </li>
        </div>
        <div *appUnless="onlyOdd">
          <li *ngFor="let e of evenNumbers"
            class="list-group-item"
            [ngClass]="{odd:e%2!=0}"
            [ngStyle]="{backgroundColor:e%2!=0?'yellow':'transparent'}"
            >{{e}}
            
          </li>        
        </div>
      </ul>
      
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">value is 5</p>
        <p *ngSwitchCase="10">value is 10</p>
        <p *ngSwitchCase="100">value is 100</p>
        <p *ngSwitchDefault>value is Default</p>
      </div>
    </div>
  </div>
</div>
